[paths]
source =
    src
    */site-packages

[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
exclude_lines =
    pragma: no cover
    if self._testing:
    if not self._testing:
    raise NotImplementedError
    raise AssertionError

[run]
branch = false
parallel = true
source =
    instruments
relative_files = True
