[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
exclude_lines =
    pragma: no cover
    if self._testing:
    if not self._testing:
    raise NotImplementedError
    raise AssertionError

[run]
relative_files = True
