sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - "pip install -r requirements.txt"
  - "pip install -r dev-requirements.txt"
  - pip install python-coveralls
  - pip install coverage
script:
  - nosetests --with-coverage -w instruments
  - pylint --py3k instruments/
  - pylint instruments/
after_success:
  - coveralls
deploy:
  provider: pypi
  user: ${PYPI_USERNAME}
  password: ${PYPI_PASSWORD}
  distributions: "sdist bdist_wheel"
  on:
    tags: true
