SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="0699", ATTRS{idProduct}=="0365", GROUP="usbtmc", MODE="0666"
# this is the general rule that covers usbtmc devices
#KERNEL=="usbtmc/*", MODE="0666", GROUP="usbtmc"
#KERNEL=="usbtmc[0-9]", MODE="0666", GROUP="usbtmc"
